body {
  background-color: #0548a2;
}

.menu {
  display: flex;
  gap: 50px;
  padding-left: 20px;
}

.ing {
  color: aliceblue;
  font-size: 18px;
  font-weight: 400;

}
.credit {
  color: grey;
  font-size: 18px;
  font-weight: 400;
}
.profile {
  color: grey;
  font-size: 18px;
  font-weight: 400;
}

.contents {
  position: relative;
  margin-top: 30px;
  background-image: url("./img/background.png");
  background-size: contain;
  width: 100%;
  aspect-ratio: 1345 / 716;
}

.contents h3 {
  position: absolute;
  font-size: 60px;
  top: 40px;
  left: 80px;
  font-family: cuprum;
  color: aliceblue;
}
.circle {
  fill: #FFF;
  stroke-width: 2px;
  stroke: #000;
  position: relative;
  top: 100px;
}
.char {
  position: absolute;
  bottom: 0px;
  right: 4px;
  height: 100%;
}
